docs/imdbpy41.dtd

<!--

     XML Document Type Definition for IMDbPY 4.1.

     Copyright 2009 H. Turgut Uyar <uyar@tekir.org>

 -->

<!ELEMENT movie (
    airing
  | akas
  | alternate-versions
  | amazon-reviews
  | animation-department
  | arithmetic-mean
  | art-department
  | art-direction
  | aspect-ratio
  | assistant-director
  | awards
  | bottom-100-rank
  | business
  | camera
  | camera-and-electrical-department
  | canonical-episode-title
  | canonical-series-title
  | canonical-title
  | cast
  | casting-department
  | casting-director
  | certificates
  | cinematographer
  | cinematographic-process
  | color-info
  | connections
  | costume-department
  | costume-designer
  | countries
  | cover-url
  | crazy-credits
  | creator
  | current-role
  | demographic
  | director
  | distributors
  | dvd
  | editor
  | editorial-department
  | episode
  | episode-of
  | episodes
  | episodes-rating
  | episode-title
  | faqs
  | film-negative-format
  | genres
  | goofs
  | keywords
  | kind
  | laboratory
  | languages
  | laserdisc
  | literature
  | locations
  | long-imdb-canonical-title
  | long-imdb-episode-title
  | long-imdb-title
  | make-up
  | median
  | merchandising-links
  | miscellaneous-companies
  | miscellaneous-crew
  | misc-links
  | movie
  | mpaa
  | music-department
  | news
  | newsgroup-reviews
  | notes
  | number-of-episodes
  | number-of-seasons
  | number-of-votes
  | official-sites
  | original-air-date
  | original-music
  | parents-guide
  | photo-sites
  | plot
  | plot-outline
  | printed-film-format
  | producer
  | production-companies
  | production-design
  | production-manager
  | quotes
  | rating
  | recommendations
  | release-dates
  | runtimes
  | season
  | series-animation-department
  | series-art-department
  | series-assistant-directors
  | series-camera-department
  | series-canonical-title
  | series-casting-department
  | series-cinematographers
  | series-costume-department
  | series-editorial-department
  | series-editors
  | series-make-up-department
  | series-miscellaneous
  | series-music-department
  | series-producers
  | series-production-designers
  | series-production-managers
  | series-special-effects-department
  | series-sound-department
  | series-stunts
  | series-title
  | series-transportation-department
  | series-visual-effects-department
  | series-writers
  | series-years
  | set-decoration
  | sound-clips
  | sound-crew
  | sound-mix
  | soundtrack
  | special-effects-companies
  | special-effects-department
  | stunt-performer
  | synopsis
  | taglines
  | thanks
  | title
  | top-250-rank
  | trivia
  | transportation-department
  | video-clips
  | visual-effects
  | votes
  | writer
  | year
 )*>
<!ATTLIST movie id CDATA #REQUIRED>

<!ELEMENT person (
    actor
  | actress
  | akas
  | animation-department
  | archive-footage
  | art-department
  | art-director
  | article
  | awards
  | biographical-movies
  | biography-print
  | birth-date
  | birth-name
  | birth-notes
  | camera-and-electrical-department
  | canonical-name
  | cinematographer
  | composer
  | current-role
  | death-date
  | death-notes
  | director
  | editor
  | episodes
  | genres
  | headshot
  | height
  | imdbindex
  | interview
  | keywords
  | long-imdb-canonical-name
  | long-imdb-name
  | magazine-cover-photo
  | merchandising-links
  | mini-biography
  | miscellaneous-crew
  | music-department
  | name
  | news
  | nick-names
  | notes
  | official-sites
  | other-works
  | pictorial
  | portrayed-in
  | producer
  | production-designer
  | quotes
  | salary-history
  | second-unit-director-or-assistant-director
  | self
  | soundtrack
  | special-effects
  | spouse
  | stunts
  | thanks
  | trade-mark
  | trivia
  | visual-effects
  | where-now
  | writer
 )*>
<!ATTLIST person id CDATA #REQUIRED>

<!ELEMENT character (
    akas
  | archive-footage
  | biography
  | episodes
  | filmography
  | headshot
  | introduction
  | long-imdb-name
  | name
  | quotes
 )*>
<!ATTLIST character id CDATA #IMPLIED>

<!ELEMENT company (
    country
  | distributors
  | long-imdb-name
  | miscellaneous-companies
  | name
  | notes
  | production-companies
  | special-effects-companies
 )*>
<!ATTLIST company id CDATA #IMPLIED>

<!ELEMENT episodes (movie | season)*>

<!ELEMENT season (#PCDATA | episode)*>
<!ATTLIST season number CDATA #IMPLIED>

<!ELEMENT episode (#PCDATA | movie)*>
<!ATTLIST episode number CDATA #IMPLIED>
<!ELEMENT episode-of (movie)*>

<!ELEMENT animation-department (movie | person)*>
<!ELEMENT art-department (movie | person)*>
<!ELEMENT camera-and-electrical-department (movie | person)*>
<!ELEMENT cinematographer (movie | person)*>
<!ELEMENT director (movie | person)*>
<!ELEMENT editor (movie | person)*>
<!ELEMENT miscellaneous-crew (movie | person)*>
<!ELEMENT music-department (movie | person)*>
<!ELEMENT producer (movie | person)*>
<!ELEMENT thanks (movie | person)*>
<!ELEMENT visual-effects (person | movie)*>
<!ELEMENT writer (movie | person)*>

<!ELEMENT actor (movie)*>
<!ELEMENT actress (movie)*>
<!ELEMENT archive-footage (movie)*>
<!ELEMENT art-director (movie)*>
<!ELEMENT composer (movie)*>
<!ELEMENT filmography (movie)*>
<!ELEMENT production-designer (movie)*>
<!ELEMENT second-unit-director-or-assistant-director (movie)*>
<!ELEMENT self (movie)*>
<!ELEMENT special-effects (movie)*>
<!ELEMENT stunts (movie)*>

<!ELEMENT art-direction (person)*>
<!ELEMENT assistant-director (person)*>
<!ELEMENT cast (person)*>
<!ELEMENT casting-department (person)*>
<!ELEMENT casting-director (person)*>
<!ELEMENT costume-department (person)*>
<!ELEMENT costume-designer (person)*>
<!ELEMENT creator (person)*>
<!ELEMENT editorial-department (person)*>
<!ELEMENT make-up (person)*>
<!ELEMENT original-music (person)*>
<!ELEMENT production-design (person)*>
<!ELEMENT production-manager (person)*>
<!ELEMENT series-animation-department (person)*>
<!ELEMENT series-art-department (person)*>
<!ELEMENT series-assistant-directors (person)*>
<!ELEMENT series-camera-department (person)*>
<!ELEMENT series-casting-department (person)*>
<!ELEMENT series-costume-department (person)*>
<!ELEMENT series-cinematographers (person)*>
<!ELEMENT series-editors (person)*>
<!ELEMENT series-editorial-department (person)*>
<!ELEMENT series-make-up-department (person)*>
<!ELEMENT series-miscellaneous (person)*>
<!ELEMENT series-music-department (person)*>
<!ELEMENT series-producers (person)*>
<!ELEMENT series-production-designers (person)*>
<!ELEMENT series-production-managers (person)*>
<!ELEMENT series-sound-department (person)*>
<!ELEMENT series-special-effects-department (person)*>
<!ELEMENT series-stunts (person)*>
<!ELEMENT series-transportation-department (person)*>
<!ELEMENT series-visual-effects-department (person)*>
<!ELEMENT series-writers (person)*>
<!ELEMENT set-decoration (person)*>
<!ELEMENT sound-crew (person)*>
<!ELEMENT special-effects-department (person)*>
<!ELEMENT stunt-performer (person)*>
<!ELEMENT transportation-department (person)*>

<!ELEMENT distributors (company | movie)*>
<!ELEMENT miscellaneous-companies (company | movie)*>
<!ELEMENT production-companies (company | movie)*>
<!ELEMENT special-effects-companies (company | movie)*>

<!ELEMENT current-role (character | notes | person)*>

<!ELEMENT akas (item)*>
<!ELEMENT alternate-versions (item)*>
<!ELEMENT article (item)*>
<!ELEMENT biography (item)*>
<!ELEMENT biographical-movies (item)*>
<!ELEMENT biography-print (item)*>
<!ELEMENT camera (item)*>
<!ELEMENT certificates (item)*>
<!ELEMENT cinematographic-process (item)*>
<!ELEMENT color-info (item)*>
<!ELEMENT countries (item)*>
<!ELEMENT crazy-credits (item)*>
<!ELEMENT demographic (item)*>
<!ELEMENT episodes-rating (item)*>
<!ELEMENT film-negative-format (item)*>
<!ELEMENT genres (item)*>
<!ELEMENT goofs (item)*>
<!ELEMENT interview (item)*>
<!ELEMENT keywords (item)*>
<!ELEMENT laboratory (item)*>
<!ELEMENT languages (item)*>
<!ELEMENT locations (item)*>
<!ELEMENT magazine-cover-photo (item)*>
<!ELEMENT mini-biography (item)*>
<!ELEMENT misc-links (item)*>
<!ELEMENT newsgroup-reviews (item)*>
<!ELEMENT nick-names (item)*>
<!ELEMENT number-of-votes (item)*>
<!ELEMENT official-sites (item)*>
<!ELEMENT other-works (item)*>
<!ELEMENT parents-guide (item)*>
<!ELEMENT photo-sites (item)*>
<!ELEMENT pictorial (item)*>
<!ELEMENT plot (item)*>
<!ELEMENT portrayed-in (item)*>
<!ELEMENT printed-film-format (item)*>
<!ELEMENT release-dates (item)*>
<!ELEMENT runtimes (item)*>
<!ELEMENT salary-history (item)*>
<!ELEMENT sound-clips (item)*>
<!ELEMENT spouse (item)*>
<!ELEMENT taglines (item)*>
<!ELEMENT trivia (item)*>
<!ELEMENT trade-mark (item)*>
<!ELEMENT sound-mix (item)*>
<!ELEMENT video-clips (item)*>
<!ELEMENT where-now (item)*>

<!ELEMENT quotes (item | quote)*>
<!ELEMENT quote (#PCDATA | line)*>
<!ELEMENT line (#PCDATA)>

<!ELEMENT awards (item)*>
<!ELEMENT assigner (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT award (#PCDATA)>
<!ELEMENT for (movie)*>
<!ELEMENT result (#PCDATA)>
<!ELEMENT to (person)*>
<!ELEMENT with (#PCDATA)>

<!ELEMENT aspect-ratio (#PCDATA | item)*>

<!ELEMENT business (
    admissions
  | budget
  | copyright-holder
  | filming-dates
  | gross
  | opening-weekend
  | rentals
  | weekend-gross
 )*>
<!ELEMENT admissions (item)*>
<!ELEMENT budget (item)*>
<!ELEMENT copyright-holder (item)*>
<!ELEMENT filming-dates (item)*>
<!ELEMENT gross (item)*>
<!ELEMENT opening-weekend (item)*>
<!ELEMENT rentals (item)*>
<!ELEMENT weekend-gross (item)*>

<!ELEMENT amazon-reviews (item)*>
<!ELEMENT link (#PCDATA)>
<!ELEMENT review (#PCDATA)>
<!ELEMENT review-author (#PCDATA)>
<!ELEMENT review-kind (#PCDATA)>

<!ELEMENT literature (
    essays
  | interviews
  | printed-media-reviews
  | production-process-protocol
  | screenplay-teleplay
 )*>
<!ELEMENT essays (item)*>
<!ELEMENT interviews (item)*>
<!ELEMENT printed-media-reviews (item)*>
<!ELEMENT production-process-protocol (item)*>
<!ELEMENT screenplay-teleplay (item)*>

<!ELEMENT soundtrack (item | movie)*>
<!ELEMENT by-arrangement-with (#PCDATA)>
<!ELEMENT courtesy-of (#PCDATA)>
<!ELEMENT from (#PCDATA)>
<!ELEMENT performed-by (#PCDATA)>
<!ELEMENT under-license-from (#PCDATA)>
<!ELEMENT written-by (#PCDATA)>

<!ELEMENT connections (
    alternate-language-version-of
  | edited-from
  | edited-into
  | featured-in
  | features
  | followed-by
  | follows
  | referenced-in
  | references
  | remade-as
  | remake-of
  | similar-to
  | spin-off
  | spin-off-from
  | spoofed-in
  | spoofs
  | version-of
  | unknown-link
 )*>
<!ELEMENT alternate-language-version-of (movie)*>
<!ELEMENT edited-from (movie)*>
<!ELEMENT edited-into (movie)*>
<!ELEMENT featured-in (movie)*>
<!ELEMENT features (movie)*>
<!ELEMENT followed-by (movie)*>
<!ELEMENT follows (movie)*>
<!ELEMENT referenced-in (movie)*>
<!ELEMENT references (movie)*>
<!ELEMENT remade-as (movie)*>
<!ELEMENT remake-of (movie)*>
<!ELEMENT similar-to (movie)*>
<!ELEMENT spin-off (movie)*>
<!ELEMENT spin-off-from (movie)*>
<!ELEMENT spoofed-in (movie)*>
<!ELEMENT spoofs (movie)*>
<!ELEMENT version-of (movie)*>
<!ELEMENT unknown-link (movie)*>

<!ELEMENT laserdic (
    ld-additional-information
  | ld-analog-left
  | ld-analog-right
  | ld-aspect-ratio
  | ld-audio-noise
  | ld-audio-quality
  | ld-catalog-number
  | ld-category
  | ld-certification
  | ld-close-captions-teletext-ld-g
  | ld-color-information
  | ld-color-rendition
  | ld-contrast
  | ld-dialogue-intellegibility
  | ld-digital-sound
  | ld-disc-format
  | ld-disc-size
  | ld-dynamic-range
  | ld-frequency-response
  | ld-group-genre
  | ld-label
  | ld-language
  | ld-laserdisc-title
  | ld-length
  | ld-master-format
  | ld-number
  | ld-number-of-chapter-stops
  | ld-number-of-sides
  | ld-official-retail-price
  | ld-original-title
  | ld-picture-format
  | ld-pressing-plant
  | ld-production-country
  | ld-quality-of-source
  | ld-quality-program
  | ld-release-country
  | ld-release-date
  | ld-review
  | ld-sharpness
  | ld-sound-encoding
  | ld-spaciality
  | ld-status-of-availablility
  | ld-subtitles
  | ld-supplement
  | ld-video-artifacts
  | ld-video-noise
  | ld-video-quality
  | ld-video-standard
  | ld-year
 )*>

<!ELEMENT ld-additional-information (item)*>
<!ELEMENT ld-analog-left (item)*>
<!ELEMENT ld-analog-right (item)*>
<!ELEMENT ld-aspect-ratio (item)*>
<!ELEMENT ld-audio-noise (item)*>
<!ELEMENT ld-audio-quality (item)*>
<!ELEMENT ld-catalog-number (item)*>
<!ELEMENT ld-category (item)*>
<!ELEMENT ld-certification (item)*>
<!ELEMENT ld-close-captions-teletext-ld-g (item)*>
<!ELEMENT ld-color-information (item)*>
<!ELEMENT ld-color-rendition (item)*>
<!ELEMENT ld-contrast (item)*>
<!ELEMENT ld-dialogue-intellegibility (item)*>
<!ELEMENT ld-digital-sound (item)*>
<!ELEMENT ld-disc-format (item)*>
<!ELEMENT ld-disc-size (item)*>
<!ELEMENT ld-dynamic-range (item)*>
<!ELEMENT ld-frequency-response (item)*>
<!ELEMENT ld-group-genre (item)*>
<!ELEMENT ld-label (item)*>
<!ELEMENT ld-language (item)*>
<!ELEMENT ld-laserdisc-title (item)*>
<!ELEMENT ld-length (item)*>
<!ELEMENT ld-master-format (item)*>
<!ELEMENT ld-number (item)*>
<!ELEMENT ld-number-of-chapter-stops (item)*>
<!ELEMENT ld-number-of-sides (item)*>
<!ELEMENT ld-official-retail-price (item)*>
<!ELEMENT ld-original-title (item)*>
<!ELEMENT ld-picture-format (item)*>
<!ELEMENT ld-pressing-plant (item)*>
<!ELEMENT ld-production-country (item)*>
<!ELEMENT ld-quality-of-source (item)*>
<!ELEMENT ld-quality-program (item)*>
<!ELEMENT ld-release-country (item)*>
<!ELEMENT ld-release-date (item)*>
<!ELEMENT ld-review (item)*>
<!ELEMENT ld-sharpness (item)*>
<!ELEMENT ld-sound-encoding (item)*>
<!ELEMENT ld-spaciality (item)*>
<!ELEMENT ld-status-of-availablility (item)*>
<!ELEMENT ld-subtitles (item)*>
<!ELEMENT ld-supplement (item)*>
<!ELEMENT ld-video-artifacts (item)*>
<!ELEMENT ld-video-noise (item)*>
<!ELEMENT ld-video-quality (item)*>
<!ELEMENT ld-video-standard (item)*>
<!ELEMENT ld-year (item)*>
<!ELEMENT faqs (item)*>

<!ELEMENT recommendations (database)*>
<!ELEMENT database (movie)*>

<!ELEMENT dvd (item)*>
<!ELEMENT asin (#PCDATA)>
<!ELEMENT certificate (#PCDATA)>
<!ELEMENT cover (#PCDATA)>
<!ELEMENT dvd-features (#PCDATA)>
<!ELEMENT dvd-format (#PCDATA)>
<!ELEMENT label (#PCDATA)>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT region (#PCDATA)>
<!ELEMENT release-date (#PCDATA)>
<!ELEMENT runtime (#PCDATA)>
<!ELEMENT studio (#PCDATA)>
<!ELEMENT supplements (item)*>
<!ELEMENT titles-in-this-product (#PCDATA)>
<!ELEMENT upc (#PCDATA)>

<!ELEMENT merchandising-links (
    all-products
  | auctions
  | books
  | dvds
  | soundtrack
  | vhs
  | zshops
  | item
 )*>
<!ELEMENT all-products (item)*>
<!ELEMENT auctions (item)*>
<!ELEMENT books (item)*>
<!ELEMENT dvds (item)*>
<!ELEMENT soundtrack (item)*>
<!ELEMENT vhs (item)*>
<!ELEMENT zshops (item)*>
<!ELEMENT description (#PCDATA | notes)*>
<!ELEMENT link-text (#PCDATA)>

<!ELEMENT news (item)*>
<!ELEMENT body (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT full-article-link (#PCDATA)>

<!ELEMENT airing (item)*>
<!ELEMENT channel (#PCDATA)>
<!ELEMENT time (#PCDATA)>

<!ELEMENT item (
    #PCDATA
  | asin | certificate | cover | dvd-features | dvd-format | label | rating
         | release-date | region | runtime | studio | supplements
         | titles-in-this-product | upc
  | assigner | award | category | for | result | to | with | year
  | body | date | full-article-link
  | by-arrangement-with | courtesy-of | from | performed-by
                        | under-license-from | written-by
  | channel | season | time
  | description | link-text
  | item
  | movie
  | notes
  | quote
  | review | review-author | review-kind | link | title
  | episode | votes
 )*>
<!ATTLIST item title CDATA #IMPLIED>

<!ELEMENT arithmetic-mean (#PCDATA)>
<!ELEMENT birth-date (#PCDATA)>
<!ELEMENT birth-name (#PCDATA)>
<!ELEMENT birth-notes (#PCDATA)>
<!ELEMENT bottom-100-rank (#PCDATA)>
<!ELEMENT canonical-name (#PCDATA)>
<!ELEMENT canonical-episode-title (#PCDATA)>
<!ELEMENT canonical-series-title (#PCDATA)>
<!ELEMENT canonical-title (#PCDATA)>
<!ELEMENT country (#PCDATA)>
<!ELEMENT cover-url (#PCDATA)>
<!ELEMENT death-date (#PCDATA)>
<!ELEMENT death-notes (#PCDATA)>
<!ELEMENT episode-title (#PCDATA)>
<!ELEMENT headshot (#PCDATA)>
<!ELEMENT height (#PCDATA)>
<!ELEMENT imdbindex (#PCDATA)>
<!ELEMENT introduction (#PCDATA)>
<!ELEMENT kind (#PCDATA)>
<!ELEMENT long-imdb-canonical-name (#PCDATA)>
<!ELEMENT long-imdb-canonical-title (#PCDATA)>
<!ELEMENT long-imdb-episode-title (#PCDATA)>
<!ELEMENT long-imdb-name (#PCDATA)>
<!ELEMENT long-imdb-title (#PCDATA)>
<!ELEMENT median (#PCDATA)>
<!ELEMENT mpaa (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT notes (#PCDATA)>
<!ELEMENT number-of-episodes (#PCDATA)>
<!ELEMENT number-of-seasons (#PCDATA)>
<!ELEMENT original-air-date (#PCDATA)>
<!ELEMENT plot-outline (#PCDATA)>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT series-title (#PCDATA)>
<!ELEMENT series-years (#PCDATA)>
<!ELEMENT synopsis (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT top-250-rank (#PCDATA)>
<!ELEMENT votes (#PCDATA)>
<!ELEMENT year (#PCDATA)>
